<div class="ag-theme-alpine" style="height: 500px; width: 100%">
  <ag-grid-angular
    class="ag-grid-responsive"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    rowSelection="single"
    [pagination]="true"
    [paginationPageSize]="20"
    [domLayout]="'autoHeight'"
    [rowClassRules]="{}"
    [getRowClass]="getRowClass"
    [components]="{
      activeToggleRenderer: ActiveToggleRendererComponent,
      softDeleteRenderer: SoftDeleteRendererComponent
    }"
    [animateRows]="true"
    [getContextMenuItems]="getContextMenuItems"
    (cellValueChanged)="onCellValueChanged($event)"
  >
  </ag-grid-angular>
</div>
 
 