.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #003572;
  color: white;
  padding-top: 15px;
  overflow-y: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.logo {
  padding-left: 16px;
  margin-bottom: 30px;
  width: 219px;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
}

.logo-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.fusion {
  color: white;
  margin-right: 5px;
}

.edge {
  color: #00b4b6; /* adjust this teal/cyan shade as needed */
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: bold;
  font-size: 0.85rem;
  text-transform: uppercase;
  padding: 10px 16px 4px;
}
.menu-item {
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 13px 30px;
  font-size: 0.95rem;

  color: white;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border-radius 0.2s;
  border-radius: 8px;
  margin: 2px o;
}

.menu-item.active {
  background-color: #05b9bc;
  border-radius: 40px;
}

.icon-img {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.group-divider {
  height: 1px;
  background-color: white;
  margin: 2px 0;
  opacity: 0.4;
  border: none;
}

.menu-item span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: 52px;
  height: 22px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
