.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-box {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.button-group {
  display: flex;
  gap: 8px;
}

.action-button {
  background-color: #05b9bc;
  color: white;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.action-button i {
  margin-right: 5px;
}

.new-call-button {
  background-color: #003572;
  color: white;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.new-call-button i {
  margin-right: 5px;
}
