
* {
  font-family: Arial;
}
.ag-header-cell {
  background-color: #05b9bc !important;
  color: white !important;
}

.bold-header {
  font-weight: bold;
}

/* styles.css (global styles) */
.ag-theme-alpine .ag-header-cell-label {
  justify-content: center !important;
  text-align: center !important;
}

.ag-header-cell-menu-button {
  display: block !important;
  opacity: 1 !important;
}

.fa {
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.ag-cell.hint-text {
  color: #999 !important;
  font-style: italic !important;
}
 
/* 👇 While editing, reset text color and font style */
.ag-cell.ag-cell-edit-mode {
  color: #000 !important;
  font-style: normal !important;
}